@{
    ViewBag.Title = "Procesar Pago";
}

<h2>Procesar Pago</h2>

<p>Estás a punto de reservar los siguientes asientos:</p>
<ul class="paymentUl">
    @foreach (var asiento in ViewBag.AsientosSeleccionados as List<string>)
    {
        <li class="paymentLi">Asiento @asiento</li>
    }
</ul>

<form id="paymentForm" method="post" action="/Pago/ConfirmarPago">
    <input type="hidden" name="rutaId" value="@ViewBag.RutaId" />
    <input type="hidden" name="asientosSeleccionados" value="@string.Join(",", ViewBag.AsientosSeleccionados)" />
    
    <label>Número de Tarjeta: <input type="text" name="cardNumber" required maxlength="16" /></label><br />
    <label>Fecha de Expiración: <input type="text" name="expiryDate" required placeholder="MM/AA" /></label><br />
    <label>CVV: <input type="text" name="cvv" required maxlength="3" /></label><br />
    <button type="submit">Pagar</button>
</form>
