@{
    ViewData["Title"] = "Privacy Policy";
}
<h3 style="text-align: center;">@ViewData["Title"]</h3>

 <div class="content">
        <p>Esta página está destinada a detallar la política de privacidad de nuestro sitio web. Nos comprometemos a proteger su privacidad y asegurar que su experiencia de usuario sea segura.</p>

        <h4>Seguridad</h4>
        <p>Tomamos medidas de seguridad apropiadas para proteger la información personal de nuestros usuarios. Usamos cifrado en la transmisión de datos sensibles durante el proceso de reserva.</p>

        <h4>Cookies</h4>
        <p>Utilizamos cookies para mejorar la funcionalidad del sitio web y personalizar la experiencia del usuario. Puede desactivar las cookies en su navegador, pero esto puede afectar el funcionamiento del sitio.</p>

        <h4>Cambios en la Política</h4>
        <p>Nos reservamos el derecho de actualizar o modificar nuestra política de privacidad en cualquier momento. Cualquier cambio será publicado en esta página.</p>
    </div>
