@{
    ViewBag.Title = "Perfil";
}

@model dynamic

<div class="perfil">
    <h2>Perfil de Usuario</h2>
    
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Nombre:</strong> @Model.Nombre</p>
    <p><strong>Apellido:</strong> @Model.Apellido</p>
    <p><strong>Teléfono:</strong> 88888888</p>

    <a href="@Url.Action("CambiarContrasena", "Usuario")" class="btn-link">Cambiar Contraseña</a>
</div>
